footer.footer.py-4
    .container
        .row.align-items-center
            .col-lg-4.text-lg-start(data-i18n='footer.copyright', data-en='Copyright © CHX 2026', data-zh='版权所有 © 创鸿信 2026') Copyright &copy; CHX 2026
            .col-lg-4.my-3.my-lg-0
                a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Twitter')
                    i.fab.fa-twitter
                a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Facebook')
                    i.fab.fa-facebook-f
                a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='LinkedIn')
                    i.fab.fa-linkedin-in
            .col-lg-4.text-lg-end
                a.link-dark.text-decoration-none.me-3(href='#!', data-i18n='footer.privacy', data-en='Privacy Policy', data-zh='隐私政策') Privacy Policy
                a.link-dark.text-decoration-none(href='#!', data-i18n='footer.terms', data-en='Terms of Use', data-zh='使用条款') Terms of Use

// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

// Core theme JS
script(src='js/scripts.js')

// SB Forms JS
script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
