-
    const pageTitle = 'CHX - Home'
    const pageTitleEn = 'CHX - Home'
    const pageTitleZh = '创鸿信 - 首页'
    const currentPage = 'home'

doctype html
html(lang='en')
    include includes/site-head.pug

    body#page-top(data-page='home', data-title-en=pageTitleEn, data-title-zh=pageTitleZh)
        include includes/site-nav.pug

        header.masthead
            .container
                .masthead-subheading(data-i18n='home.hero.eyebrow', data-en='Welcome To Our Studio!', data-zh='欢迎来到我们的工作室！') Welcome To Our Studio!
                .masthead-heading.text-uppercase(data-i18n='home.hero.title', data-en="It's Nice To Meet You", data-zh='很高兴认识你') It's Nice To Meet You
                a.btn.btn-primary.btn-xl.text-uppercase(href='products.html', data-i18n='home.hero.button', data-en='Explore Products', data-zh='查看产品') Explore Products

        include includes/sections/about.pug
        include includes/sections/services.pug
        include includes/sections/team.pug
        include includes/sections/portfolio.pug
        include includes/sections/clients.pug
        include includes/sections/contact.pug

        include includes/site-footer.pug

        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6
