div.py-5
    .container
        .row.align-items-center
            .col-md-3.col-sm-6.my-3
                a(href='#!')
                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/microsoft.svg', alt='...', aria-label='Microsoft Logo')
            .col-md-3.col-sm-6.my-3
                a(href='#!')
                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/google.svg', alt='...', aria-label='Google Logo')
            .col-md-3.col-sm-6.my-3
                a(href='#!')
                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/facebook.svg', alt='...', aria-label='Facebook Logo')
            .col-md-3.col-sm-6.my-3
                a(href='#!')
                    img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/ibm.svg', alt='...', aria-label='IBM Logo')
