section#services.page-section
    .container
        .text-center
            h2.section-heading.text-uppercase(data-i18n='services.heading', data-en='Products', data-zh='产品中心') Products
            h3.section-subheading.text-muted(data-i18n='services.subheading', data-en='Explore the core product lines and solution packages we provide for different business needs.', data-zh='在这里可以集中展示你的核心产品线、方案组合和重点卖点。') Explore the core product lines and solution packages we provide for different business needs.
        .row.text-center
            .col-lg-4.col-md-6.mb-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-oil-can.fa-stack-1x.fa-inverse
                h4.my-3(data-i18n='services.item1.title', data-en='Oil Seals', data-zh='油封系列') Oil Seals
            .col-lg-4.col-md-6.mb-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-circle-notch.fa-stack-1x.fa-inverse
                h4.my-3(data-i18n='services.item2.title', data-en='O-Rings & Sealing Products', data-zh='O型圈与密封件') O-Rings & Sealing Products
            .col-lg-4.col-md-6.mb-4
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-droplet.fa-stack-1x.fa-inverse
                h4.my-3(data-i18n='services.item3.title', data-en='Hydraulic Seals', data-zh='液压密封件') Hydraulic Seals
            .col-lg-6.col-md-6.mb-4.mb-lg-0
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-wave-square.fa-stack-1x.fa-inverse
                h4.my-3(data-i18n='services.item4.title', data-en='Anti-Vibration Components', data-zh='减震元件') Anti-Vibration Components
            .col-lg-6.col-md-6
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-gears.fa-stack-1x.fa-inverse
                h4.my-3(data-i18n='services.item5.title', data-en='Couplings & Disc Springs', data-zh='联轴器与碟簧') Couplings & Disc Springs
