section#team.page-section.bg-light
    .container
        .text-center
            h2.section-heading.text-uppercase(data-i18n='team.heading', data-en='Materials', data-zh='材料与特性') Materials
            h3.section-subheading.text-muted(data-i18n='team.subheading', data-en='Use this section to highlight material options, technical characteristics, and application advantages.', data-zh='这里适合介绍材料种类、核心特性、性能差异以及典型应用优势。') Use this section to highlight material options, technical characteristics, and application advantages.
        .row
            .col-lg-4
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/1.jpg', alt='...')
                    h4 Parveen Anand
                    p.text-muted(data-i18n='team.member1.role', data-en='Lead Designer', data-zh='设计负责人') Lead Designer
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Twitter Profile')
                        i.fab.fa-twitter
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Facebook Profile')
                        i.fab.fa-facebook-f
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand LinkedIn Profile')
                        i.fab.fa-linkedin-in
            .col-lg-4
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/2.jpg', alt='...')
                    h4 Diana Petersen
                    p.text-muted(data-i18n='team.member2.role', data-en='Lead Marketer', data-zh='市场负责人') Lead Marketer
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen Twitter Profile')
                        i.fab.fa-twitter
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen Facebook Profile')
                        i.fab.fa-facebook-f
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen LinkedIn Profile')
                        i.fab.fa-linkedin-in
            .col-lg-4
                .team-member
                    img.mx-auto.rounded-circle(src='assets/img/team/3.jpg', alt='...')
                    h4 Larry Parker
                    p.text-muted(data-i18n='team.member3.role', data-en='Lead Developer', data-zh='开发负责人') Lead Developer
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Twitter Profile')
                        i.fab.fa-twitter
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Facebook Profile')
                        i.fab.fa-facebook-f
                    a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker LinkedIn Profile')
                        i.fab.fa-linkedin-in
        .row
            .col-lg-8.mx-auto.text-center
                p.large.text-muted(data-i18n='team.text', data-en='We work closely across disciplines so ideas stay consistent from the first brief to the final launch.', data-zh='我们紧密协作，让一个想法从最初需求到最终上线始终保持一致的表达和品质。') We work closely across disciplines so ideas stay consistent from the first brief to the final launch.
