//
// Colors
//

// Brand colors

$navy:  #0d2240;
$orange: #e05c1a;

// Override Bootstrap state colors variables

$primary: $orange;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
